@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";


/* En tu archivo CSS global */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

